@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Have a Roaring good time at the Dino-Diner</h1>

<p>
    <div>
        <a asp-page="MenuPage">Menu</a>
    </div>
    <a asp-page="Privacy">Privacy Policy</a>
    <div>
        <a asp-page="About">About Us</a>
    </div>
    
</p>