<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            Public class for a CretaceousCombo
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Drink">
            <summary>
            Abstract class to denote a drink item from the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ice">
            <summary>
            Whether or not the drink contains Ice, default value = true
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Drink.HoldIce">
            <summary>
            Public method to set the Ice property to false (requesting no Ice on a drink)
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.JurrasicJava">
            <summary>
            Class for JurrasicJava that inherits from the Drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.Decaf">
            <summary>
            Public property to determine if the coffee is decaf or not, default value of false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.RoomForCream">
            <summary>
            Public property that determines if there is room for cream in this coffee, default value of false.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.JurrasicJava.size">
            <summary>
            Protected size quanity of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurrasicJava.Size">
            <summary>
            Override to get and set the size of the Sodasauras and the according calorie and price values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurrasicJava.#ctor">
            <summary>
            Public constructor for the Sodasauras class that sets default values and inherits from the drink constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurrasicJava.AddIce">
            <summary>
            Public method to set the Ice property to true (requesting Ice with the coffee)
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurrasicJava.LeaveRoomForCream">
            <summary>
            Method to leave room for cream by setting the RoomForCream property to true.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Sodasauras">
            <summary>
            Class for Sodasauras that inherits from the Drink class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Sodasauras.flavor">
            <summary>
            Private backing property for the flavor of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasauras.Flavor">
            <summary>
            Property to store the flavor of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasauras.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Sodasauras.size">
            <summary>
            Protected size quanity of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasauras.Size">
            <summary>
            Override to get and set the size of the Sodasauras and the according calorie and price values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Sodasauras.#ctor">
            <summary>
            Public constructor for the Sodasauras class that sets default values and inherits from the drink constructor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.SodasaurasFlavor">
            <summary>
            Enum to represent the possible Sodasauras Flavors
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Tyrannotea">
            <summary>
            Class for Tyrannotea that inherits from the Drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Sweet">
            <summary>
            Public getter and setter that stores whether or not the Tyrannotea is sweet, defaults to false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Lemon">
            <summary>
            Public getter and setter that stores whether or not the Tyrannotea has lemon, defaults to false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Tyrannotea.size">
            <summary>
            Protected size quanity of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Size">
            <summary>
            Override to get and set the size of the Sodasauras and the according calorie and price values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.#ctor">
            <summary>
            Public constructor for the Sodasauras class that sets default values and inherits from the drink constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.HoldIce">
            <summary>
            Public method to set the Ice property to false (requesting no Ice on a drink)
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.AddLemon">
            <summary>
            Public method to add Lemon to the Tyrannotea
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Public class for the Brontowurst sandwich
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this Brontowurst sandwich.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Default constructor for Brontowurst that sets default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            Method to set this Brontowurst's pepper property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            Method to set this Brontowurst's onion property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            Method to set this Brontowurst's bun property to false.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            Public class for the DinoNuggets entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this order of DinoNuggets.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            Default constructor for DinoNuggets which sets the default price, calories, and nuggetCount. 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            Method to add one to the nuggetCount, as well as update the price, calories, and ingredients accordingly.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Entree">
            <summary>
            Class representing a side item from the menu
            </summary>
            <summary>
            Class representing an entree item from the menu with calories and price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            Public class for the Prehistoric PBJ sandwich.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this Prehistoric PBJ sandwich.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Default constructor for PrehistoricPBJ that sets default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Method to set this PrehistoricPBJ's peanutButter property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Method to set this PrehistoricPBJ's jelly property to false.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            Public class for the PterodactylWings
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Price">
            <summary>
            Property used to get and set the value of the price.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Calories">
            <summary>
            Property used to get and set the value of the calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Default constructor for PterodactylWings that sets default price and calories.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            Property used to get and set the list of ingredients of the PterodactylWings
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            Public class for the SteakosaurasBurger entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this SteakosaurasBurger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Default constructor for SteakosaurasBurger that sets the default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Method to set this SteakosaurasBurger's bun property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            Method to set this SteakosaurasBurger's pickle property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Method to set this SteakosaurasBurger's ketchup property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Method to set this SteakosaurasBurger's mustard property to false.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            Public class for the TRexKingBurger entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this TRexKingBurger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Default constructor for TRexKingBurger that sets the default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Method to set this SteakosaurasBurger's bun property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Method to set this SteakosaurasBurger's lettuce property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Method to set this SteakosaurasBurger's tomato property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Method to set this SteakosaurasBurger's onion property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Method to set this SteakosaurasBurger's pickle property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Method to set this SteakosaurasBurger's ketchup property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Method to set this SteakosaurasBurger's mustard property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Method to set this SteakosaurasBurger's mayo property to false.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            Class to represent the Velociwrap
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this Velociwrap.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            Default constructor for this Velociwrap that sets default price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Method to set this Velociwrap's dressing property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Method to set this Velociwrap's lettuce property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Method to set this Velociwrap's cheese property to false.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MeteorMacAndCheese">
            <summary>
            Public class for the side Meteor Mac and Cheese
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.MeteorMacAndCheese.size">
            <summary>
            Protected member that holds the size of the Meteor Mac and Cheese.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.#ctor">
            <summary>
            Public constructor for default order of Meteor Mac and cheese.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MezzorellaSticks">
            <summary>
            Public class that represents Mezzorella sticks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.MezzorellaSticks.size">
            <summary>
            Protected member that holds the size of the side dish.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MezzorellaSticks.#ctor">
            <summary>
            Public constructor for default order of Mezzorella sticks.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Side">
            <summary>
            Class representing a side item from the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Triceritots">
            <summary>
            Public class to represent the side dish Triceritops.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Triceritots.size">
            <summary>
            Protected member that holds the size of the side dish.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.#ctor">
            <summary>
            Public constructor for default order of Triceritops.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            Enumerator representing the size of the item.
            </summary>
        </member>
    </members>
</doc>
