<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            Public class for a CretaceousCombo
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.CretaceousCombo.PropertyChanged">
            <summary>
            Event Handler for property changes, notifies when a combo property changes
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            The entree item of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            The drink item of the combo, defaults to Sodasaurus
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            The side item of the combo, defaults to Fryceritops
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            The getter which sets the size of the items in the combo to ths size of the combo.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            The price of the combo getter, returns the price of all items -0.25
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            The getter of the combo's calories, returns the calories of entree + drink + side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            The getter of the ingredients of the combo. 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            The public override to return the contents of the combo as a string. 
            </summary>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entrees.Entree)">
            <summary>
            Public constructor for CretaceousCombo which sets the entree while using default side and drink values.
            </summary>
            <param name="entree">The entree item to set for this CretaceousCombo</param>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Description">
            <summary>
            Description of the combo item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Special">
            <summary>
            List of special instructions for the combo item.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Drink">
            <summary>
            Abstract class to denote a drink item from the menu.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Drinks.Drink.PropertyChanged">
            <summary>
            The PropertyChanged Event handler; notifies
            of changes to the Price, Description, and 
            Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Drink.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes
            </summary>
            <param name="propertyName">Name of property changed</param>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ice">
            <summary>
            Whether or not the drink contains Ice, default value = true
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Drink.HoldIce">
            <summary>
            Public method to set the Ice property to false (requesting no Ice on a drink)
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Description">
            <summary>
            Gets the text description of the menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Special">
            <summary>
            Virtual property for all the special instructions. 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.JurassicJava">
            <summary>
            Class for JurrasicJava that inherits from the Drink class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Decaf">
            <summary>
            Public property to determine if the coffee is decaf or not, default value of false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.RoomForCream">
            <summary>
            Public property that determines if there is room for cream in this coffee, default value of false.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.JurassicJava.size">
            <summary>
            Protected size quanity of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Size">
            <summary>
            Override to get and set the size of the Sodasauras and the according calorie and price values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.#ctor">
            <summary>
            Public constructor for the Sodasauras class that sets default values and inherits from the drink constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.AddIce">
            <summary>
            Public method to set the Ice property to true (requesting Ice with the coffee)
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.LeaveRoomForCream">
            <summary>
            Method to leave room for cream by setting the RoomForCream property to true.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The name of this drink</returns>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.SodasaurusFlavor">
            <summary>
            Enum to represent the possible Sodasaurus Flavors
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Cola">
            <summary>
            A cola flavored soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Orange">
            <summary>
            An orange flavored soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Vanilla">
            <summary>
            A vanilla flavored soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Chocolate">
            <summary>
            A chocolate flavored soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.RootBeer">
            <summary>
            A root beer flavored soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Cherry">
            <summary>
            A cherry flavored soda
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Lime">
            <summary>
            A lime flavored soda
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Sodasaurus">
            <summary>
            Class for Sodasauras that inherits from the Drink class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Sodasaurus.flavor">
            <summary>
            Private backing property for the flavor of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Flavor">
            <summary>
            Property to store the flavor of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Special">
            <summary>
            Gets any special instructions for this menu item
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Sodasaurus.size">
            <summary>
            Protected size quanity of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Size">
            <summary>
            Override to get and set the size of the Sodasauras and the according calorie and price values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Sodasaurus.#ctor">
            <summary>
            Public constructor for the Sodasauras class that sets default values and inherits from the drink constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Sodasaurus.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size, flavor, and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Tyrannotea">
            <summary>
            Class for Tyrannotea that inherits from the Drink class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Tyrannotea.sweet">
            <summary>
            Protected property for whether or not the Tea is sweet. 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Sweet">
            <summary>
            Public getter and setter that stores whether or not the Tyrannotea is sweet, defaults to false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Special">
            <summary>
            Gets any special instructions for this menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Lemon">
            <summary>
            Public getter and setter that stores whether or not the Tyrannotea has lemon, defaults to false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Tyrannotea.size">
            <summary>
            Protected size quanity of this Sodasauras
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Size">
            <summary>
            Override to get and set the size of the Sodasauras and the according calorie and price values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.#ctor">
            <summary>
            Public constructor for the Sodasauras class that sets default values and inherits from the drink constructor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.AddLemon">
            <summary>
            Public method to add Lemon to the Tyrannotea
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Water">
            <summary>
            Class to represent Water which inherits from the Drink class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Water.lemon">
            <summary>
            Private backing variable for Lemon property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Lemon">
            <summary>
            Public getter and setter that stores whether or not the Tyrannotea has lemon, defaults to false
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Special">
            <summary>
            Gets any special instructions for this menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Ingredients">
            <summary>
            Public override property to set/get the list of ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.Water.size">
            <summary>
            Private backing variable for the Size property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Size">
            <summary>
            Override to get and set the Size of the water. Defaults to the value of Small
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.#ctor">
            <summary>
            Base constructor for Water which sets default Price and Calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.AddLemon">
            <summary>
            Public method to add Lemon to the Water
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Public class for the Brontowurst sandwich
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this Brontowurst sandwich.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Default constructor for Brontowurst that sets default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            Method to set this Brontowurst's pepper property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            Method to set this Brontowurst's onion property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            Method to set this Brontowurst's bun property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            Public class for the DinoNuggets entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this order of DinoNuggets.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            Default constructor for DinoNuggets which sets the default price, calories, and nuggetCount. 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            Method to add one to the nuggetCount, as well as update the price, calories, and ingredients accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.ResetNuggetCount">
            <summary>
            Resets the nugget count to 6
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Entree">
            <summary>
            Class representing a side item from the menu
            </summary>
            <summary>
            Class representing an entree item from the menu with calories and price
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Entrees.Entree.PropertyChanged">
            <summary>
            The PropertyChanged Event handler; notifies
            of changes to the Price, Description, and 
            Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Entree.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes
            </summary>
            <param name="propertyName">Name of property changed</param>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Description">
            <summary>
            Gets the text description of the menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Special">
            <summary>
            Virtual property for all the special instructions. 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            Public class for the Prehistoric PBJ sandwich.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this Prehistoric PBJ sandwich.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Default constructor for PrehistoricPBJ that sets default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Method to set this PrehistoricPBJ's peanutButter property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Method to set this PrehistoricPBJ's jelly property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            Public class for the PterodactylWings
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Default constructor for PterodactylWings that sets default price and calories.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            Property used to get and set the list of ingredients of the PterodactylWings
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            Public class for the SteakosaurasBurger entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this SteakosaurasBurger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Default constructor for SteakosaurasBurger that sets the default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Method to set this SteakosaurasBurger's bun property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            Method to set this SteakosaurasBurger's pickle property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Method to set this SteakosaurasBurger's ketchup property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Method to set this SteakosaurasBurger's mustard property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            Public class for the TRexKingBurger entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this TRexKingBurger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Default constructor for TRexKingBurger that sets the default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Method to set this SteakosaurasBurger's bun property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Method to set this SteakosaurasBurger's lettuce property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Method to set this SteakosaurasBurger's tomato property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Method to set this SteakosaurasBurger's onion property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Method to set this SteakosaurasBurger's pickle property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Method to set this SteakosaurasBurger's ketchup property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Method to set this SteakosaurasBurger's mustard property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Method to set this SteakosaurasBurger's mayo property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            Class to represent the Velociwrap
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            Property used to get and set the list of ingredients on this Velociwrap.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            Default constructor for this Velociwrap that sets default price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Method to set this Velociwrap's dressing property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Method to set this Velociwrap's lettuce property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Method to set this Velociwrap's cheese property to false.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.ToString">
            <summary>
            Displays the name of the item
            </summary>
            <returns>The string value of the item name</returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            Interface that all menu items inherit from
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Getter / setter for the price of the menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Getter / setter for the calories of the menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            Getter / setter for the Ingredients of the menu item. 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Description">
            <summary>
            Contains a text description of the order item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            Interface for an item that is ordered.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            The price of the order item in dollars.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            Contains a text description of the order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            Array containing any special requests/instructions for the order item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            Public class to represent the menu of the restaurant.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            Public getter to return all the currently available Entree items on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            Public getter to return all the currently available Side items on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            Public getter to return all the currently available Drink items on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableCombos">
            <summary>
            Public getter to return all the currently available Combo items on the menu.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            Public getter to return all the currently available menu items.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            Public Override of ToString method to display the full menu contents
            </summary>
            <returns>Full list of all menu items separated by new line characters. </returns>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            An order of various food and drink items
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Order.PropertyChanged">
            <summary>
            Event Handler for property changes, notifies when an order property changes
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            The items that make up this order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SubtotalCost">
            <summary>
            Subtotal of the order's cost before Tax
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Order.salesTaxRate">
            <summary>
            Private backing variable to store SalesTaxRate, defaulted to 0.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            Gets the Sales tax rate of the order
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            Gets the cost of sales tax for this order
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            Gets the total cost of this order
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.#ctor">
            <summary>
            Public constructor for creating the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.Add(DinoDiner.Menu.IOrderItem)">
            <summary>
            Adds an item to the items list of this order
            </summary>
            <param name="item">IOrderItem to be added to the order</param>
        </member>
        <member name="M:DinoDiner.Menu.Order.Remove(DinoDiner.Menu.IOrderItem)">
            <summary>
            Removes IOrderItem item from the list of items in the order.
            </summary>
            <param name="item"></param>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Order.NotifyAllPropertiesChanged">
            <summary>
            Helper method to notify all properties have changed.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Fryceritops">
            <summary>
            Public class for the side item Fryceritops which inherits from the Side base class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Fryceritops.size">
            <summary>
            Protected member that holds the size of the Meteor Mac and Cheese.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.#ctor">
            <summary>
            Public constructor for default order of Fryceritops.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MeteorMacAndCheese">
            <summary>
            Public class for the side Meteor Mac and Cheese
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.MeteorMacAndCheese.size">
            <summary>
            Protected member that holds the size of the Meteor Mac and Cheese.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.#ctor">
            <summary>
            Public constructor for default order of Meteor Mac and cheese.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MezzorellaSticks">
            <summary>
            Public class that represents Mezzorella sticks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.MezzorellaSticks.size">
            <summary>
            Protected member that holds the size of the side dish.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MezzorellaSticks.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MezzorellaSticks.#ctor">
            <summary>
            Public constructor for default order of Mezzorella sticks.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MezzorellaSticks.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Side">
            <summary>
            Class representing a side item from the menu
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Sides.Side.PropertyChanged">
            <summary>
            The PropertyChanged Event handler; notifies
            of changes to the Price, Description, and 
            Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Side.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes
            </summary>
            <param name="propertyName">Name of property changed</param>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Description">
            <summary>
            Gets the text description of the menu item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Special">
            <summary>
            Array of all special instructions for the Side item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Triceritots">
            <summary>
            Public class to represent the side dish Triceritops.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Special">
            <summary>
            Gets any special preparation instructions
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Ingredients">
            <summary>
            Overrides the side class implementation of ingredients to display the side's ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Triceritots.size">
            <summary>
            Protected member that holds the size of the side dish.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Size">
            <summary>
            Public Override to set/get size and change calories and price accordingly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.#ctor">
            <summary>
            Public constructor for default order of Triceritops.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.ToString">
            <summary>
            Override of the ToString method 
            </summary>
            <returns>The size and name of this side item</returns>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            Enumerator representing the size of the item.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            The size of a small item, cheapest price and lowest calories
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            The size of a medium item, has the median price and calories of the item type.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            The largest size available for an item, contains the most calories and highest price.
            </summary>
        </member>
    </members>
</doc>
